<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>African -Internet Users</title>
  {% load static %}
  <!-- Bootstrap core CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">  -->
  
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
  <!-- Custom fonts for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"> 
  <link rel="stylesheet" type="text/css" href="{% static 'css/scrolling-nav.css' %}"> 
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/landing-page.css' %}">  -->

  <!-- Bootstrap core CSS -->
  <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Custom styles for this template -->
  <!-- <link href="css/scrolling-nav.css" rel="stylesheet"> -->

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <img class="" src="/static/img/logo.png" alt="logo" width="100" height="60"><h6>OptimalCourse</h6></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about"><button type="button" class="btn btn-warning">Acceuil</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services"><button type="button" class="btn btn-warning">Indicateurs</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact"><button type="button" class="btn btn-warning">Contact</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container text-center">
      <h1>Bienvenue sur Internet en Afrique</h1>
      <h4 class="lead">La page d'aide à la décision autour de l'usage d'internet en Afrique</h4>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 mx-auto card text-center">
          <h2 class>Filtres</h2>
          <!-- Default checkbox -->
          <div class="m-3 form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              checked
            />
            <label class="form-check-label" for="flexCheckDefault">
              Utilisateurs Internet An 2000
            </label>
          </div>

          <!-- Checked checkbox -->
          <div class="m-3 form-check ">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked1"
              
            />
            <label class="form-check-label" for="flexCheckChecked1">
              Utlisateurs Internet An 2020
            </label>
          </div>
          <div class="m-3 form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked2"
            />
            <label class="form-check-label" for="flexCheckChecked2">
              Taux de penetration d'internet(%)
            </label>
          </div>

          <!-- Checked checkbox -->
          <div class="m-3 form-check ">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked3"
              
            />
            <label class="form-check-label" for="flexCheckChecked3">
              Taux de croissance d'utilisation(%)
            </label>
          </div>
          <!-- Checked checkbox -->
          <div class="m-3 form-check ">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked4"
              
            />
            <label class="form-check-label" for="flexCheckChecked4">
              Utilisateurs de Facebook(%)
            </label>
          </div>
          <h2 class="m-5"> Sources</h2>
          <h6 class="m-2">  <a class="nav-link js-scroll-trigger" href="https://www.internetworldstats.com/stats1.htm">
            https://www.internetworldstats.com/stats1.htm
          </a>
        </h6>
        </div>
        
        <div class="col-lg-9 mx-auto card">
          <h2 class="text-center">African Internet Users</h2>
          <div id="map">

          </div>
          
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Services we offer</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <!-- <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>
  <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'js/scrolling-nav.js'%}"></script>
  <script src="{% static 'js/africa.js'%}"></script>
  <script src="{% static 'js/map.js'%}"></script>

</body>

</html>
